   <div id="footer">
      <div class="container">
        <footer>
          <div class="row-fluid">
            <section class="footer-links">
              <div class="span3">
                <sly data-sly-resource="footer-links-1"></sly>
              </div>
              <div class="span3">
                <sly data-sly-resource="footer-links-2"></sly>
              </div>
              <div class="span3">
                <sly data-sly-resource="footer-links-3"></sly>
              </div>
              <div class="span3">
                <sly data-sly-resource="footer-links-4"></sly>
              </div>
            </section>
          </div><!-- /.row-fluid -->
          <div id="footer-sub">
            <div class="row-fluid">
              <div class="footer-contact span12">
                <ul class="inline social pull-right">
                  <li class="twitter icon"><a href="#">Twitter</a></li>
                  <li class="facebook icon"><a href="#">Facebook</a></li>
                  <li class="linkedin icon"><a href="#">LinkedIn</a></li>
                  <li class="youtube icon"><a href="#">YouTube</a></li>
                  <li class="googleplus icon"><a href="#">Google+</a></li>
                  <li><a href="#">Follow Developers</a></li>
                </ul>
                <div class="copyright">
                  <ul class="inline primary">
                    <li><a href="#">Site Index</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">SAP Help Portal</a></li>
                  </ul>
                  <ul class="inline">
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Legal Disclosure</a></li>
                    <li><a href="#">Copyright</a></li>
                  </ul>
                </div>
              </div>
            </div><!-- /.row-fluid -->
          </div>
        </footer>
      </div>
    </div>

