<div class="row-fluid product-features">
    <ul class="thumbnails">
        <li class="span4">
            <sly data-sly-resource="${'par1' @ resourceType='wcm/foundation/components/parsys'}"/>
        </li>
        <li class="span4">
            <sly data-sly-resource="${'par2' @ resourceType='wcm/foundation/components/parsys'}"/>
        </li>
        <li class="span4">
            <sly data-sly-resource="${'par3' @ resourceType='wcm/foundation/components/parsys'}"/>
        </li>
    </ul>
</div>