<div id="footer">
    <div class="container">
        <footer>
            <div class="row-fluid">
                <section class="footer-links">
                    <div>
                        <sly data-sly-resource="par-f1"/>
                    </div>
                </section>
            </div><!-- /.row-fluid -->
            <div id="footer-sub">
                <div class="row-fluid">
                    <div class="footer-contact span12">

                        <sly data-sly-resource="par-f2"/>
                    </div>
                </div><!-- /.row-fluid -->
            </div>
        </footer>
    </div>
</div>