<div class="row-fluid">
    <h2 class="light">${properties.headerText @ context="html"}</h2>
    <ul class="thumbnails">
        <li class="span4">
            <sly data-sly-resource="${'composite-link-1' @ resourceType='wcm/foundation/components/parsys'}"/>
        </li>
        <li class="span4">
            <sly data-sly-resource="${'composite-link-2' @ resourceType='wcm/foundation/components/parsys'}"/>
        </li>
        <li class="span4">
            <sly data-sly-resource="${'composite-link-3' @ resourceType='wcm/foundation/components/parsys'}"/>
        </li>
    </ul>
</div>
